<html>

<body>
  </br>
  </br>
  New password has been generated as per your request.
  <br />
  <br />
  You user name: <b><%=userName%></b>
  <br />
  Your password is: <b><%=newpwd%></b>
  <br />
  <br />
  Please login to <a href="<%=appUrl%>">Css App</a>
</body>

</html>