<html>

<body>
  <h1>New Feedback/Query received </h1>
  <br />
  <br />
  Name: <%=givenName%>
  <br />
  <br />
  Email: <%=email%>
  <br />
  <br />
  <br />
  <br />
  Feedback/Query: <%=feedback%>
  <br />
  <br />

</body>

</html>